.advantages {
  max-width: $desktop-width;
  width: 100%;
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  width: 100%;
  padding: 25px 20px;
  text-align: center;
  background-color: $gray-second;

  @media (min-width: $tablet-width) {
    padding: 42px;
  }

  &--wide {
    padding: 0;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      display: flex;
      max-width: 100%;
      max-height: 256px;
    }
  }

  &--housing {
    padding: 26px 20px 10px 21px;
  }

  &--souvenirs {
    padding: 5px 20px 10px 21px;
  }

  &--food {
    padding: 11px 20px 35px 21px;
  }

  &--housing,
  &--souvenirs,
  &--food {
    text-align: left;

    background-color: $white;

    @media (min-width: $tablet-width) {
      padding: 63px 10px 59px;

      text-align: center;
    }
  }
}

.advantages__item-picture {
  &--invert {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}

.advantages__item-info {
  padding: 34px 12px 39px 13px;

  &--width {
    @media (min-width: $tablet-width) {
      max-width: 256px;
    }

    @media (min-width: $desktop-width) {
      max-width: 400px;
    }
  }

  &--bgcolor {
    color: $white;
    background-color: $blue;
  }

  &--padding {
    padding: 0 2px;
  }

  &--border {
    border-bottom: 1px solid $darkgray-second;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }
}

.advantages__item-title {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 26px;
}
