.form-review {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 38px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    padding: 0 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    margin-bottom: 66px;
  }
}

.form-review__group {
  padding: 20px 20px 5px;
  margin: 0;

  border: none;
  border-top: 1px solid $gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 100%;

    border-top-color: $darkgray-third;
  }

  &--impression {
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      position: relative;
      padding-bottom: 0;
      order: -1;

      &::after {
        content: "";
        position: absolute;
        top: 1px;
        right: 0;
        bottom: 23px;
        width: 1px;
        background-color: $darkgray-third;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 4px;
    }
  }

  &--half {
    @media (min-width: $tablet-width) {
      max-width: 50%;

      &:not(.form-review__group--impression) {
        margin-left: 58px;
        max-width: calc(50% - 58px);
      }
    }

    @media (min-width: $desktop-width) {
      &:not(.form-review__group--impression) {
        margin-left: 80px;
        max-width: calc(50% - 80px);
      }
    }
  }

  &--attractions {
    padding-top: 15px;
    padding-bottom: 0;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 29px;
      margin-bottom: 35px;
      padding-top: 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 259px 259px 238px auto;
      margin-bottom: 34px;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-top: 46px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form-review__group-title {
  display: block;
  width: 100%;

  padding: 0;
  margin: 0;

  float: left;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;

  text-align: center;
  border: none;

  @media (min-width: $tablet-width) {
    width: auto;

    font-size: 21px;
    float: none;
  }

  &::after {
    content: "";
    display: table;
    clear: left;
  }

  &--introduce {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-bottom: 54px;

      text-align: left;
    }
  }

  &--contacts {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding: 3px 62px 0;
      margin-bottom: 21px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      max-width: fit-content;

      margin-bottom: 19px;
      padding-top: 1px;
    }
  }

  &--attractions {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      max-width: min-content;

      padding: 0 65px;
      margin-bottom: -4px;
    }
  }

  &--impression {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-bottom: 57px;

      text-align: left;
    }

    @media (min-width: $desktop-width) {
      padding-left: 76px;
    }
  }

  &--emotion {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
      padding: 0 75px;
    }
  }
}

.form-review__group-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  line-height: 26px;

  &--phone,
  &--email {
    position: relative;
    flex-wrap: wrap;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 58px;
      height: 58px;

      background-color: $gray-first;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;

      .form-review__group-name {
        padding-top: 10px;
        padding-right: 16px;
        padding-left: 0;
      }
    }
  }

  &--phone {
    margin-bottom: 12px;

    &::after {
      background-image: url("../img/icon-phone.svg");
      background-size: 18px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 79px;

      &::after {
        right: 79px;
      }
    }
  }

  &--email {
    margin-bottom: 22px;

    &::after {
      background-image: url("../img/icon-email.svg");
      background-size: 16px;
    }
  }

  &--radio,
  &--checkbox {
    justify-content: flex-start;

    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $black;
    text-transform: none;

    .form-review__group-name {
      padding-left: 0;
    }
  }

  &--radio {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  &--checkbox {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 32px;

      &:nth-of-type(odd) {
        padding-left: 96px;
      }

      &:nth-of-type(even) {
        padding-left: 31px;
      }
    }

    @media (min-width: $desktop-width) {
      &:nth-of-type(odd),
      &:nth-of-type(even) {
        padding-left: 0;
      }
    }
  }

  [type="radio"] + .form-review__group-name,
  [type="checkbox"] + .form-review__group-name {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      content: "";
      display: inline-block;
      width: 56px;
      height: 56px;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: $lightgray;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      transition: background 0.4s;
    }

    &:hover {
      &::before {
        background-color: $gray;
      }
    }

    &:active {
      &::before {
        background-color: $darkgray;
      }
    }
  }

  [type="radio"] + .form-review__group-name {
    &::before {
      margin-right: 21px;

      border-radius: 50%;

      @media (min-width: $tablet-width) {
        margin-right: 19px;
      }
    }
  }

  [type="checkbox"] + .form-review__group-name {
    &::before {
      margin-right: 23px;

      border-radius: 5px;
    }
  }

  [type="radio"]:checked + .form-review__group-name {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11'/%3E%3C/svg%3E");
    }

    &:active {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='#{rgba($lightblack, 0.3)}' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11'/%3E%3C/svg%3E");
      }
    }
  }

  [type="checkbox"]:checked + .form-review__group-name {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17'  fill='%23333333' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325l-1.1-1.1c-.3-.3-.9-.3-1.2 0l-11.9 11.9-6.2-6.2c-.3-.3-.9-.3-1.2 0l-1.1 1.1c-.3.3-.3.9 0 1.2l7.8 7.8c.2.2.4.2.6.2.2 0 .4-.1.6-.2l13.5-13.5c.5-.3.5-.8.2-1.2z'/%3E%3C/svg%3E");
    }

    &:active {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17'  fill='#{rgba($lightblack, 0.3)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325l-1.1-1.1c-.3-.3-.9-.3-1.2 0l-11.9 11.9-6.2-6.2c-.3-.3-.9-.3-1.2 0l-1.1 1.1c-.3.3-.3.9 0 1.2l7.8 7.8c.2.2.4.2.6.2.2 0 .4-.1.6-.2l13.5-13.5c.5-.3.5-.8.2-1.2z'/%3E%3C/svg%3E");
      }
    }
  }
}

.form-review__group-name {
  padding-left: 22px;
}

.form-review__group-text {
  width: 100%;
  height: 58px;

  margin-left: 14px;
  padding: 5px 19px 0;

  border: 4px solid $lightgray;
  background-color: $lightgray;
  transition: border 0.4s, background-color 0.4s;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $black;
  }

  &[type="tel"],
  &[type="email"] {
    margin-top: 8px;
    margin-left: 0;
    padding-right: 60px;

    @media (min-width: $desktop-width) {
      max-width: 316px;
    }
  }

  &:hover {
    border: 4px solid $gray;
    background-color: $gray;
  }

  &:active {
    border: 4px solid $gray;
    background-color: $white;
  }
}

.form-review__group-textarea {
  height: 160px;
  width: 100%;
  padding: 13px 23px 29px 21px;

  border: none;

  background-color: $lightgray;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $black;
  }

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.form-review__footer {
  margin-top: 40px;
  padding: 0 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0;
    margin-top: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 51px;
  }
}

.form-review__submit {
  width: 100%;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    padding-right: 44px;
  }

  @media (min-width: $desktop-width) {
    max-width: 480px;
    padding-right: 33px;
  }
}

.form-review__notice {
  font-size: 14px;
  line-height: 26px;

  @media (max-width: $mobile-width-max) {
    display: none;
  }
}
