.form-review {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 48px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.form-review__group {
  padding: 20px 20px 5px;
  margin: 0;

  border: none;
  border-top: 1px solid $gray;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 100%;

    border-top-color: $darkgray-third;
  }

  &--impression {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }

  &--half {
    @media (min-width: $tablet-width) {
      max-width: 50%;
    }
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form-review__group-title {
  display: block;
  width: 100%;

  padding: 0;
  margin: 0;

  float: left;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;

  text-align: center;
  border: none;

  @media (min-width: $tablet-width) {
    width: auto;

    float: none;
  }

  &::after {
    content: "";
    display: table;
    clear: left;
  }

  &--introduce {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      width: 100%;

      text-align: left;
    }
  }

  &--contacts {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding: 0 60px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / -1;
      max-width: fit-content;

      margin-bottom: 0;
    }
  }

  &--impression,
  &--attractions {
    margin-bottom: 25px;
  }

  &--attractions {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      max-width: min-content;

      padding: 0 65px;
      margin-bottom: 0;
    }
  }

  &--impression {
    @media (min-width: $tablet-width) {
      width: 100%;

      text-align: left;
    }
  }

  &--emotion {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding: 0 75px;
    }
  }
}

.form-review__group-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  line-height: 26px;

  &--phone,
  &--email {
    position: relative;
    flex-wrap: wrap;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 58px;
      height: 58px;

      background-color: $gray-first;
    }

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;

      .form-review__group-name {
        padding-left: 0;
        padding-right: 16px;
      }
    }
  }

  &--phone {
    @media (min-width: $desktop-width) {
      padding-right: 79px;

      &::after {
        right: 79px;
      }
    }
  }

  &--radio,
  &--checkbox {
    justify-content: flex-start;

    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $black;
    text-transform: none;
  }
}

.form-review__group-name {
  padding-left: 22px;
}

.form-review__group-text {
  width: 100%;
  height: 58px;

  margin-left: 10px;
  padding-left: 22px;

  border: none;
  background-color: $lightgray;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $black;
  }

  &[type="tel"],
  &[type="email"] {
    margin-top: 8px;
    margin-left: 0;

    @media (min-width: $desktop-width) {
      max-width: 316px;
    }
  }
}

.form-review__group-textarea {
  height: 160px;
  width: 100%;
  padding: 13px 23px 29px 21px;

  border: none;

  background-color: $lightgray;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $black;
  }
}

.form-review__footer {
  margin-top: 46px;
  padding: 0 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0;
  }
}

.form-review__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 324px;
  }
}

.form-review__notice {
  font-size: 14px;
  line-height: 26px;

  @media (max-width: $mobile-width-max) {
    display: none;
  }
}
