.page-footer {
  padding: 38px 20px 23px;
  text-align: center;
}

.page-footer__hashtag {
  margin-bottom: 33px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.page-footer__copyright {
  margin-top: 45px;
}
