.page-header__wrapper {
  position: relative;
  min-height: 84px;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-height: 56px;

    overflow: visible;
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    z-index: 1;
  }
}

.page-header__intro {
  position: relative;

  height: 389px;

  background: $blue url("../img/photo-background.jpg") 50% 0 / cover no-repeat;

  @media (min-width: $tablet-width) {
    height: 518px;

    background-image: url("../img/photo-background-tablet.jpg");
  }

  &--inner {
    height: 158px;

    background: $blue url("../img/photo-background-inner.jpg") 50% 0 / cover no-repeat;

    @media (min-width: $tablet-width) {
      height: 290px;

      background-image: url("../img/photo-background-inner-tablet.jpg");
    }

    @media (min-width: $desktop-width) {
      height: 301px;

      background-image: url("../img/photo-background-inner-desktop.jpg");
    }
  }
}

.page-header__intro-slogan {
  position: absolute;
  top: 90px;
  left: 50%;

  max-width: 282px;
  width: 100%;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 77px;

    max-width: 461px;
  }

  @media (min-width: $desktop-width) {
    top: 78px;

    max-width: 460px;
  }

  &--inner {
    top: 52px;

    max-width: 229px;

    @media (min-width: $tablet-width) {
      top: 95px;

      max-width: 457px;
    }

    @media (min-width: $desktop-width) {
      top: 101px;

      max-width: 460px;
    }
  }
}
