.video {
  margin: 32px auto 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin-top: 63px;
    padding: 0;
  }
}

.video__title {
  margin: 0 0 35px;

  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.video__desc {
  margin: 0 20px 30px;
  padding: 0 20px;

  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 15%;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
    padding: 0 22%;
  }
}

.video__wrapper {
  position: relative;

  padding-bottom: 66px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.video__image-poster {
  display: flex;

  img {
    min-width: 100%;
    min-height: 100%;
  }
}

.video__control {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 20px;

  @media (max-width: $mobile-width-max) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 66px;

      background-color: $lightgray;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    height: 93px;
  }
}
