// Colors

$black: #000000;
$black-second: #010101;       // box-shadow background mobile menu button
$lightblack: #333333;         // radio checked, checkbox checked
$lightblack-second: #5c6870;  // buttons controls mobile
$lightblack-third: #666666;   // background controls desktop
$white: #ffffff;
$lightgray: #f2f2f2;          // input, background radio, background checkbox, background controls mobile
$gray: #e5e5e5;               // background button disabled, input hover, border input active, background radio hover, background checkbox hover
$gray-first: #e6e6e6;         // background icon input
$gray-second: #eeeeee;        // background advantages
$gray-third: #eaeaea;         // background card gallery
$darkgray: #d5d5d5;           // background radio down, background checkbox down
$darkgray-second: #d6d6d6;    // border
$darkgray-third: #dbdbdb;     // border
$blue: #81b3d2;               // menu hover, background button, social button, logo hover, background mobile menu button, gamburger
$grayblue: #669ec0;           // background button hover, social button hover, background mobile menu button hover
$darkblue: #5496bd;           // background button down, social button down, background mobile menu button down
$brown: #604e43;              // menu active hover
$lightbrown: #766357;         // menu active
$red: #ff0000;                // invalid input


// Font

$mainfont: "PT Sans", "Arial", sans-serif;
$fontsize: 14px;
$textcolor: $lightblack;
$lineheight: 21px;

// Breakpoints

$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
